# Data Frame
2-dimentional data(bunch of the series)

# prepare datas
to make by dict data structure

In [2]:
data = {
    'Name' : ['Cha Chi-soo', 'Jung Dae-man', 'Song Tae-seop', 'Seo Tae-woong', 'Kang Baek-ho', 'Byun Deok-gyu', 'Hwang Tae-san', 'Yoon Dae-hyeop'],
    'School' : ['Buk San High', 'Buk San High', 'Buk San High', 'Buk San High', 'Buk San High', 'Neung Nam High', 'Neung Nam High', 'Neung Nam High'],
    'Height' : [197, 184, 168, 187, 188, 202, 188, 190],
    'Korean' : [90, 40, 80, 40, 15, 80, 55, 100],
    'English' : [85, 35, 75, 60, 20, 100, 65, 85],
    'Math' : [100, 50, 70, 70, 10, 95, 45, 90],
    'Science' : [95, 55, 80, 75, 35, 85, 40, 95],
    'Social' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW Skill' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
data

{'Name': ['Cha Chi-soo',
  'Jung Dae-man',
  'Song Tae-seop',
  'Seo Tae-woong',
  'Kang Baek-ho',
  'Byun Deok-gyu',
  'Hwang Tae-san',
  'Yoon Dae-hyeop'],
 'School': ['Buk San High',
  'Buk San High',
  'Buk San High',
  'Buk San High',
  'Buk San High',
  'Neung Nam High',
  'Neung Nam High',
  'Neung Nam High'],
 'Height': [197, 184, 168, 187, 188, 202, 188, 190],
 'Korean': [90, 40, 80, 40, 15, 80, 55, 100],
 'English': [85, 35, 75, 60, 20, 100, 65, 85],
 'Math': [100, 50, 70, 70, 10, 95, 45, 90],
 'Science': [95, 55, 80, 75, 35, 85, 40, 95],
 'Social': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW Skill': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [3]:
data

{'Name': ['Cha Chi-soo',
  'Jung Dae-man',
  'Song Tae-seop',
  'Seo Tae-woong',
  'Kang Baek-ho',
  'Byun Deok-gyu',
  'Hwang Tae-san',
  'Yoon Dae-hyeop'],
 'School': ['Buk San High',
  'Buk San High',
  'Buk San High',
  'Buk San High',
  'Buk San High',
  'Neung Nam High',
  'Neung Nam High',
  'Neung Nam High'],
 'Height': [197, 184, 168, 187, 188, 202, 188, 190],
 'Korean': [90, 40, 80, 40, 15, 80, 55, 100],
 'English': [85, 35, 75, 60, 20, 100, 65, 85],
 'Math': [100, 50, 70, 70, 10, 95, 45, 90],
 'Science': [95, 55, 80, 75, 35, 85, 40, 95],
 'Social': [85, 25, 75, 80, 10, 80, 35, 95],
 'SW Skill': ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']}

In [4]:
data["Name"]

['Cha Chi-soo',
 'Jung Dae-man',
 'Song Tae-seop',
 'Seo Tae-woong',
 'Kang Baek-ho',
 'Byun Deok-gyu',
 'Hwang Tae-san',
 'Yoon Dae-hyeop']

In [5]:
data["Height"]

[197, 184, 168, 187, 188, 202, 188, 190]

# making a data frame object

In [6]:
import pandas as pd
df = pd.DataFrame(data)

In [7]:
df

,Name,School,Height,Korean,English,Math,Science,Social,SW Skill
0,Cha Chi-soo,Buk San High,197,90,85,100,95,85,Python
1,Jung Dae-man,Buk San High,184,40,35,50,55,25,Java
2,Song Tae-seop,Buk San High,168,80,75,70,80,75,Javascript
3,Seo Tae-woong,Buk San High,187,40,60,70,75,80,
4,Kang Baek-ho,Buk San High,188,15,20,10,35,10,
5,Byun Deok-gyu,Neung Nam High,202,80,100,95,85,80,C
6,Hwang Tae-san,Neung Nam High,188,55,65,45,40,35,PYTHON
7,Yoon Dae-hyeop,Neung Nam High,190,100,85,90,95,95,C#

# access to data

In [8]:
df["Name"]

0       Cha Chi-soo
1      Jung Dae-man
2     Song Tae-seop
3     Seo Tae-woong
4      Kang Baek-ho
5     Byun Deok-gyu
6     Hwang Tae-san
7    Yoon Dae-hyeop
Name: Name, dtype: object

In [9]:
df[["Name", "Height"]]

             Name  Height
0     Cha Chi-soo     197
1    Jung Dae-man     184
2   Song Tae-seop     168
3   Seo Tae-woong     187
4    Kang Baek-ho     188
5   Byun Deok-gyu     202
6   Hwang Tae-san     188
7  Yoon Dae-hyeop     190

# making data frame object(by indexing)

In [10]:
df = pd.DataFrame(data, index=["one", "two", "three", "four", "five", "six", "seven", "eight"])

In [11]:
df

,Name,School,Height,Korean,English,Math,Science,Social,SW Skill
one,Cha Chi-soo,Buk San High,197,90,85,100,95,85,Python
two,Jung Dae-man,Buk San High,184,40,35,50,55,25,Java
three,Song Tae-seop,Buk San High,168,80,75,70,80,75,Javascript
four,Seo Tae-woong,Buk San High,187,40,60,70,75,80,
five,Kang Baek-ho,Buk San High,188,15,20,10,35,10,
six,Byun Deok-gyu,Neung Nam High,202,80,100,95,85,80,C
seven,Hwang Tae-san,Neung Nam High,188,55,65,45,40,35,PYTHON
eight,Yoon Dae-hyeop,Neung Nam High,190,100,85,90,95,95,C#

# by column selecting

In [12]:
df = pd.DataFrame(data, columns=["Name", "School", "Height", "SW Skill"])

In [13]:
df

             Name          School  Height    SW Skill
0     Cha Chi-soo    Buk San High     197      Python
1    Jung Dae-man    Buk San High     184        Java
2   Song Tae-seop    Buk San High     168  Javascript
3   Seo Tae-woong    Buk San High     187
4    Kang Baek-ho    Buk San High     188
5   Byun Deok-gyu  Neung Nam High     202           C
6   Hwang Tae-san  Neung Nam High     188      PYTHON
7  Yoon Dae-hyeop  Neung Nam High     190          C#